<% if resource.errors.any? %>
  <div id="error_explanation" style="background-color:#F8D7DA; padding:5px; margin-bottom:10px; border-radius:10px">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
