// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chatroom {
  display : block;
  border : 1px solid black;
  padding : 20px;
  margin-bottom : 10px;
  background-color : #FFFFFF;
}

.mychat {
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  background: #edf1ee;
}

.say {
  padding: 20px;
  border-radius: 12px;
  text-align: right;
  background: #edf1ee;
}

@media (max-width: 767px) {
  .chatroom{
    width: 100%;
  }
}