// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chatroom {
  display : block;
  border : 1px solid black;
  padding : 20px;
  margin : 100px;
  background-color : #FFFFFF;
}