// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.select {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

@media (max-width: 767px) {
 .select {
  margin-top: 100px;
}
}