// Place all the styles related to the public/trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content-box {
  display : block;
  border : 1px solid black;
  padding : 20px;
  margin-bottom : 10px;
}

ul {
  list-style : none;
}