<div class="container">
  <div class="content-box">
  <h2>検索結果</h2>
  <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>
     　<%= render 'public/users/index', users: @users %>
    <% else %>
  <!--検索対象モデルがUserではない時(= 検索対象モデルがTrainingの時) -->
      <%= render 'public/trainings/index', trainings: @trainings %>
    <% end %>
  </div>
</div>