<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class="btn-wrapper col-10 mx-auto">
        <h1>MakeTrain</h1>
        <P>
          自分にあったオリジナルのトレーニングを作ろう、探そう
        </P>
        <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', public_users_guest_sign_in_path, class: "btn btn-secondary btn-block mb-3", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-light btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-light btn-block mb-3" %>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <p class="font-weight-bold">About Us<p><br>
    <h2>MakeTrainについて</h2>
    <ul>
      <li>運動していたけど今は全然できていない。習慣にしたいが途中で止まってしまう。自分が求めるレベルのトレーニング方法を見つけたい。</li>
      <li>そんな方に自分が習慣にできる運動方法をユーザー同士で共有することで最も自分に合う方法を作りだすことで続けられる運動方法を得てほしいと思いこのサイトを作成しました。</li>
    </ul>
    
    <h2>３つのEの法則</h2>
    <ul>
      <h5>Enlighten（自己認識)</h5>
      <li>実行することで得られると思うメリットを加えていこう</li>
      <li>ちょっとでも実行したことで得たことは加えていこう</li>
      <li>続かなかった原因を加えていこう</li>
    </ul>
    <ul>
      <h5>Encourage(促進)</h5>
      <li>小さく始めて毎日成長を実感できるプランを作ろう</li>
      <li>実行を邪魔するもの（原因）を取り除くプランも作ろう</li>
      <li>成長を感じられるもの（メリット）を振り返るプランを作ろう</li>
    </ul>
    <ul>
      <h5>Enable(有効)</h5>
      <li>成功率を知ろう</li>
      <li>無理なプランになってないかを可視化しよう</li>
      <li></li>
    </ul>
    
    <h2>マナーと注意点</h2>
    <ul>
      <li>人を不快にさせる発言はやめましょう</li>
        <p>
          人を傷つけるコメントをされた場合や不適切だと判断した場合はアカウントの凍結などの対応をとります。
        </p>
      <li>人を不快にさせる画像はやめましょう</li>
        <p>明らかなアダルト画像など不適切と判断した場合はアカウントの凍結などの対応をとります。</p>
    
    
    <p>よりよいコミュニティ活動ができるようにマナーを守って当サイトをご利用ください</p>
  </div>
    
</div>
