<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class="btn-wrapper col-10 mx-auto">
        <h1>MakeTrain</h1>
        <P>
          自分にあったオリジナルのトレーニングを作ろう、探そう
        </P>
        <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', public_users_guest_sign_in_path, class: "btn btn-secondary btn-block mb-3", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-light btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-light btn-block mb-3" %>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <p class="font-weight-bold">About Us<p><br>
    <h2 class="title">MakeTrainについて</h2>
    <ul>
      <li>運動していたけど今は全然できていない。習慣にしたいが途中で止まってしまう。自分が求めるレベルのトレーニング方法を見つけたい。</li>
      <li>そんな方に自分が習慣にできる運動方法をユーザー同士で共有することで最も自分に合う方法を作りだすことで続けられる運動方法を得てほしいと思いSNSサイトを作成しました。</li>
    </ul>

    <h2 class="working">習慣を加速する３つのEの法則の記録機能を導入</h2>
    <h4 class="sub">使い方例</h4>
        <ul>
          <li>認識で目的を達成することで得られるメリットとそれができないであろう原因を書いていこう</li>
          <li>促進で目的を達成するためにやることを小さく始めて成長を実感できるプランを作ろう</li>
          <li>プランを作成すると編集と実施ができるので実施を押すと有効に登録されます</li>
          <li>有効で一週間実行できた曜日にチェックを入れて一週間どれくらい達成できたかを確認しよう</li>
          <li>90%以上でレベルアップ、60%以上で継続、60%以下は見直し、またはレベルダウンしよう</li>
          <li>認識でちょっとでも実行したことで得たことがあればメリットに加えていこう</li>
          <li>実行したことで見えたできない原因を加えていこう</li>
          <li>実行を邪魔するもの（原因）を取り除くプランも加えよう</li>
          <li>実施中について、空にするで実施中がすべて消えます。リセットでチェックのみすべてなくなります</li>
        </ul>
      <h4 class="sub">ポイント</h4>
        <ul>
          <li>短期的なメリットがもっともモチベーションに影響するのでどんどんあれば加えていこう</li>
          <li>習慣に使える自分の強みについて考えることでそれを活かし習慣を加速させよう</li>
          <li>習慣において自分がやらなくなってしまう弱みや外的要因を原因で振り返り、対策プランを立てよう</li>
          <li>その目的に向かって実行することで何を得られたかを見直そう</li>
        </ul>

    <h2 class="rule">マナーと注意点</h2>
    <ul>
      <li>人を不快にさせる発言はやめましょう</li>
        <p>
          人を傷つけるコメントをされた場合や不適切だと判断した場合はアカウントの凍結などの対応をとります。
        </p>
      <li>人を不快にさせる画像はやめましょう</li>
        <p>明らかなアダルト画像など不適切と判断した場合はアカウントの凍結などの対応をとります。</p>


    <p>よりよいコミュニティ活動ができるようにマナーを守って当サイトをご利用ください</p>
  </div>

</div>
