<div class="container">
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2>トレーニング編集</h2>
      <%= render 'layouts/errors', obj: @training %>
      <%= render 'form', training: @training %>
    </div>
  </div>
</div>