<div class="container">
  <%= render 'index', trainings: @trainings %>
  <div class="row">
    <div class="col-11 d-flex justify-content-center">
      <%= paginate @trainings, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>