<div class="container">
  <div class='row'>
    <div>
      <h2>トレーニング作成</h2>
      <%= render 'layouts/errors', obj: @training %>
      <%= render 'form', training: @training %>
    </div>
  </div>
</div>