<div class="table-box">
  <table class="table">
    <tbody>
      <% causes.each do |cause| %>
        <tr>
          <td colspan="13", style="overflow-x: auto;"><%= cause.title %></td>
          <td colspan="2"><%= link_to '編集', edit_cause_path(cause.id), class: "btn btn-success btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
