<div class="container">
  <%= render 'layouts/errors', obj: @cause %>
  <div class="table-box">
  <h2>原因一覧</h2>
  <%= render 'form', cause: @cause %>
  <%= render 'index', causes: @causes %>
  </div>
</div>