// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


td {
  white-space: nowrap;
}

.follow-list {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.introduction {
  padding-bottom: 15px;
}