<div class="content-box">
  <table class="table">
    <tbody>
      <% merits.each do |merit| %>
        <tr>
          <td><%= merit.id %></td>
          <td><%= merit.title %></td>
          <td colspan="10"></td>
          <td><%= link_to '編集', edit_merit_path(merit.id), class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
