<div class="container">
  <%= render 'layouts/errors', obj: @merit %>
  <div class="table-box">
  <h2>メリット一覧</h2>
  <%= render 'form', merit: @merit %>
  <%= render 'index', merits: @merits %>
  </div>
</div>