/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bg-header{
  background-color: #267594;
}

body {
  background-image: url("background");
  word-break: break-all;
}

main {
  display: flex;
}

.sidebar_nav {
  display: flex;
}

#side {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.rounded-circle {
  width: 7rem;
  height: 7rem;
  text-align:center;
  line-height: 10px;
  border: none;
  color: #FFFFFF;
  background-size: cover;
}

table {
  white-space: nowrap;
}

.title {
  background: linear-gradient(transparent 80%, #FF773E 30%);
  width: 280px;
}

.working {
  background: linear-gradient(transparent 80%, #5D99FF 30%);
  width: 700px;
}

.sub {
  background: linear-gradient(transparent 90%, #75A9FF 30%);
  width: 135px;
}

.rule {
  background: linear-gradient(transparent 80%, #5D99FF 30%);
  width: 230px;
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
  .rounded-circle {
    width: 4rem;
    height: 4rem;
  }
  
  td {
    display: block;
  }
}