<footer class="d-flex justify-content-center mt-5 footer">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class= 'd-flex align-items-center mb-0' style='height:100px'>© 2022 MakeTrain Co., Ltd.</p>
    	</div>
    </div>
  </div>
</footer>