<span id="back">
  <%= link_to new_training_path, data: {"turbolinks"=>false}, class: "nav-link", style: "color:#008000;" do %>
    <i class="far fa-sticky-note fa-4x"></i>
    <p>新規作成</p>
  <% end %>
</span>