<% if user_signed_in? %>
  <ul class="bottom-nav fixed-bottom w-100 shadow-lg list-unstyled list-group list-group-horizontal text-center">
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to trainings_path do %>
        <i class="fas fa-home"></i> 
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to users_path do %>
        <i class="fas fa-users"></i> 
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to likes_trainings_path do %>
        <i class="fab fa-gratipay"></i> 
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to user_path(current_user.id) do %>
        <i class="far fa-user"></i> 
      <% end %>
    </button>
  </ul>
<% end %>