<nav class="sidebar_nav">
  <% if user_signed_in? %>
    <%= link_to select_path, class: "nav-link" do %>
      <button class="rounded-circle p-0" style="width:12rem;height:12rem;background-color: #BAD3FF;">
        <i class="far fa-sticky-note fa-4x"></i>
        <p class="font-weight-bold">Enlighten</p>
      </button>
    <% end %>
    <%= link_to plans_path, class: "nav-link" do %>
      <button class="rounded-circle p-0" style="width:12rem;height:12rem;background-color: #DCC2FF;">
        <i class="far fa-sticky-note fa-4x"></i>
        <p class="font-weight-bold">Encourage</p>
      </button>
    <% end %>
    <%= link_to enables_path, class: "nav-link" do %>
      <button class="rounded-circle p-0" style="width:12rem;height:12rem;background-color: #FFBEDA;">
        <i class="far fa-sticky-note fa-4x"></i>
        <p class="font-weight-bold">Enable</p></p>
      </button>
    <% end %>
  <% end %>
</nav>